.base-container {
 background-color: white;
}
.buy-container {
  margin-top:25px;
  background-color: white;
}

.buy-container {
  width: 600px;
  max-width: 90%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.buy-container img {
  flex: 1;
  width: 100%;
}

.buy-item {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.buy-item #distance {
  text-align: right;
  margin : 0;
  display: inline;
  margin-left: 50px;
}

.buy-seller #rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  align-items: center;
  text-align: center;
}

#rating p {
  margin: 10px;
  font-size: 15px;
}
.buy-item #location {
  text-align: left;
}

.buy-item #tags {
  text-align: left;
}

.buy-item #title {
  font-size: 200%;
  text-align: left;
}

.buy-item h2 {
  text-align: left;
  margin : 0;
}

.buy-detail {
  text-align: left;
  max-width: 90%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.buy-detail #availablility{
  color: #80db55;
}

.buy-detail #price{
  font-size: 150%;
}


.buy-seller {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 500px;
}

.buy-seller #title {
  text-align: left;
}

.buy-seller p {
  margin-bottom: 0;
  font-size: 120%;
}

.produce-category.name {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  background-color: #80db55;
}

.contact-seller {
  padding: 16px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: -4px -1px 18px 6px rgba(194,194,194,1);
}

.contact-seller #contactBox {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  color: #000000;
  border-radius: 10px;
  background-color: #80db55;
  padding: 10px 100px;
  white-space: nowrap;
  font-weight: 800;
  text-transform: uppercase;
}

#pp {
  font-size: 104px;
}

#star {
  display: inline;
  align-items: left;
  color: #FFD700;
}
