@import "colors";
@import "dimensions";

.listings-container {
  position: relative;

  width: $master-width;
  max-width: 90%;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  p {
    text-align: left;
  }
}

.listings-title {
  font-size: 1.5rem;
}

.listing-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listing {
  position: relative;
  width: 100%;
  height: 400px;
  background-size: cover;
  border-radius: $master-radius;
  overflow: hidden;
  margin-top: 24px;

  margin-bottom: 16px;

  img {
    width: 100%;
  }
}

.listing-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent 60%);
  background-size: cover;
}

.listing-header {
  position: relative;
  width: 100%;
  height: 20%;
}

.listing-age {
  position: absolute;
  padding: 0 20px 0 20px;
  background-color: white;
  right: 0;
  text-align: right;
  border-radius: 0 0 0 10px;
}

.listing-content {
  position: absolute;
  width: 95%;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  text-align: left;
  color: white;

  h2 {
    display: inline;
    padding: 0;
  }
}

.listing-details {
  p {
    display: inline;
    padding: 0;
  }
}

.listing-button {
  display: block;
  border-radius: 50%;
  padding: 1rem 1rem;
  font-size: 1.25rem;
  max-height: 68px;

  a {
    color: white;
    padding: 0;
  }
}