.buy-container {
  padding-top: 25px;
  background-color: white;
}

.buy-container {
  width: 600px;
  max-width: 90%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.buy-container img {
  flex: 1;
  width: 100%;
  border-radius: 10px;
}

.buy-item {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.buy-item #distance {
  text-align: right;
  margin: 0;
  display: inline;
  margin-left: 50px;
}

.buy-item #rating {
  text-align: left;
}

.buy-item #location {
  text-align: left;
}

.buy-item #tags {
  text-align: left;
}

.buy-item #title {
  font-size: 200%;
  text-align: left;
}

.buy-item h2 {
  text-align: left;
  margin: 0;
}

.buy-detail {
  text-align: left;
  max-width: 90%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.buy-detail #availablility {
  color: #80db55;
}

.buy-detail #price {
  font-size: 150%;
}


.buy-seller {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 500px;
}

.buy-seller #title {
  text-align: left;
}

.produce-category.name {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  background-color: #80db55;
}

.contact-seller {
  padding: 16px;
  width: 90%;
  bottom: 24px;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#contactBox {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  color: #000000;
  border-radius: 10px;
  background-color: #80db55;
  padding: 10px 100px;
  white-space: nowrap;
  font-weight: 800;
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
}

.contact-seller:hover #contactBox {
  cursor: pointer;
  background-color: #66b147;
}


#pp {
  font-size: 104px;
}